alias la='ls -la --group-directories-first --sort=extension' 
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
alias i3conf='vim ~/.config/i3/'
alias polyconf='vim ~/.config/polybar/'
alias dotconf='vim ~/.config'
alias screenkey='screenkey --key-mode keysyms'
alias yt-dlp='yt-dlp --config-locations $HOME/.config/yt-dlp/yt-dlp.conf'
alias check-reso='ffprobe -v error -show_entries stream=width,height -of default=noprint_wrappers=1'
